<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/image" method="post" enctype="multipart/form-data">
        <input type="file" name="profile" multiple/>
        <input type="text" placeholder="movie-name" name="name" >
        <input type="number" placeholder="number" name="rating">
        <input type="name" placeholder="discription" name="discription">
        <input type="number" placeholder="relisedate" name="relisedate">
        <input type="text" placeholder="language" name="language">
        <input type="submit"/>
      </form>
</body>
</html>